@import url('variables');
.test {
    font-size: 1ch;
    background-color: aliceblue;
}
.test2{
    background-color: aliceblue;
}
h1{
    background-color: aqua;
    color: red;
}
h2{
    color: greenyellow;
}